apache-airflow==1.10.14
apache-airflow[gcp]==1.10.12
apache-airflow[gcp_api]==1.10.12
apache-airflow[google]==1.10.12
apache-airflow[postgres]==1.10.12
codecov==2.1.8
marquez-python==0.7.12
pytest
pytest-cov==2.10.1
requests==2.24.0
psycopg2-binary
mock>=4.0.2
httplib2>=0.18.1
google-cloud-bigquery
google-auth-httplib2
google-api-core
google-api-python-client
pandas-gbq>=0.13.2
google-cloud-storage
sqlparse==0.3.1
