*.egg-info
*.iml
*.swp
./**/*.class
./out/*
.DS_Store
.classpath
.editorconfig
.gradle/
.idea/
.project
.settings
.vscode/
__pycache__
.pytest_cache
venv
api/out/
bin/
build/
clients/java/out/
dist/
integrations/airflow/tests/integration/integration-requirements.txt
integrations/airflow/tests/integration/requirements.txt
examples/airflow/whl
examples/airflow/requirements.txt
examples/airflow/marquez.env
out/*
**/*.python-version

# Marquez configuration
marquez.yml

# jenv
.java-version

# Dependent Helm charts
chart/charts/

integrations/spark/src/test/resources/test_data/test_output
integrations/spark/src/test/resources/test_data/rdd_to_csv_output
integrations/spark/src/test/resources/test_data/rdd_to_table
