*.egg-info
*.iml
*.swp
./**/*.class
./out/*
.DS_Store
.classpath
.editorconfig
.gradle/
.idea/
.project
.settings
.vscode/
__pycache__
venv
api/out/
bin/
build/
clients/java/out/
dist/
integrations/airflow/tests/integration/integration-requirements.txt
integrations/airflow/tests/integration/requirements.txt
out/*
**/*.python-version

# Marquez configuration
marquez.yml

# jenv
.java-version

# Dependent Helm charts
chart/charts/
