*.egg-info
*.iml
*.jar
*.swp
./**/*.class
./out/*
.classpath
.editorconfig
.gradle/
.idea/
.project
.settings
.vscode/
__pycache__
bin/
build/
dist/
integrations/airflow/tests/integration/integration-requirements.txt
integrations/airflow/tests/integration/requirements.txt
out/*

# Marquez configuration
marquez.yml
