version: "3.7"
services:
  app:
    image: marquezproject/marquez:latest
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      - MARQUEZ_PORT=5000
      - MARQUEZ_ADMIN_PORT=5001
      - MARQUEZ_CONFIG=/usr/src/app/config.yml
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=marquez
      - POSTGRES_USER=buendia
      - POSTGRES_PASSWORD=macondo
    volumes:
      - ./docker/wait-for-it.sh:/usr/src/app/wait-for-it.sh
      - ./config.example.yml:/usr/src/app/config.yml
    depends_on:
      - db
    entrypoint: ["./wait-for-it.sh", "db:5432", "--", "./entrypoint.sh"]

  db:
    image: postgres:12.1
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - MARQUEZ_DB=marquez
      - MARQUEZ_USER=buendia
      - MARQUEZ_PASSWORD=macondo
    volumes:
      - ./docker/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
