version: 2.1

# Define reusable config (see: https://yaml.org/spec/1.2/spec.html#id2765878)
machine: &machine
  working_directory: ~/marquez
  machine: true

checkout_project_root: &checkout_project_root
  # Override checkout path to project root (see: https://circleci.com/docs/2.0/configuration-reference/#checkout)
  checkout:
    path: ~/marquez

jobs:
  build-api:
    <<: *machine
    environment:
      TESTCONTAINERS_RYUK_DISABLED: true
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-api-{{ .Branch }}-{{ .Revision }}
            - v1-api-{{ .Branch }}
      - run: ./.circleci/get-jdk11.sh
      - run: echo "checks.disable=true" > ~/.testcontainers.properties
      - run: ./gradlew --no-daemon --stacktrace api:build
      - run: ./gradlew --no-daemon api:jacocoTestReport
      - run: bash <(curl -s https://codecov.io/bash)
      - store_test_results:
          path: build/test-results/test
      - store_artifacts:
          path: build/reports/tests/test
          destination: test-report
      - save_cache:
          key: v1-api-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/.gradle

  build-web:
    working_directory: ~/marquez/web
    docker:
      - image: circleci/node:12.21.0
    environment:
      TZ: 'America/New_York'
    steps:
      - *checkout_project_root
      - restore_cache:
          keys:
            - v1-web-{{ .Branch }}-{{ .Revision }}
            - v1-web-{{ .Branch }}
      - run: npm install
      - run: npm run test
      - save_cache:
          paths:
            - node_modules
          key: v1-web-{{ .Branch }}-{{ .Revision }}

  build-client-java:
    working_directory: ~/marquez
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-client-java-{{ .Branch }}-{{ .Revision }}
            - v1-client-java-{{ .Branch }}
      - run: ./gradlew --no-daemon --stacktrace clients:java:build
      - run: ./gradlew --no-daemon clients:java:jacocoTestReport
      - run: bash <(curl -s https://codecov.io/bash)
      - store_test_results:
          path: build/test-results/test
      - store_artifacts:
          path: build/reports/tests/test
          destination: test-report
      - save_cache:
          key: v1-client-java-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/.gradle

  build-client-python:
    working_directory: ~/marquez/clients/python
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - run: pip install --user flake8
      - run: python -m flake8 --extend-ignore=F401
      - run: pip install --user  -r test-requirements.txt
      - run: python -m pytest --cov=marquez_python tests/
      - run: bash <(curl -s https://codecov.io/bash)

  build-integration-spark:
    working_directory: ~/marquez/integrations/spark
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-integration-spark-{{ .Branch }}-{{ .Revision }}
            - v1-integration-spark-{{ .Branch }}
      - run: ./gradlew --no-daemon --stacktrace :integrations:spark:build
      - run:
          when: on_fail
          command: cat integrations/spark/build/test-results/test/TEST-*.xml
      - store_test_results:
          path: integrations/spark/build/test-results/test
      - save_cache:
          key: v1-integration-spark-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/.gradle

  build-integration-airflow:
    working_directory: ~/marquez/integrations/airflow
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - run: pip install --user flake8
      - run: python -m flake8 --exclude integration
      - run: pip install --user -r test-requirements.txt --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-1.10.12/constraints-3.7.txt"
      - run: airflow initdb
      - run: python -m pytest --cov=marquez_python tests/
      - run: bash <(curl -s https://codecov.io/bash)

  test-integration-airflow:
    working_directory: ~/marquez/integrations/airflow/
    machine: true
    steps:
      - *checkout_project_root
      - run: ./../../.circleci/get-docker-compose.sh
      - run: docker build -f Dockerfile.tests -t marquez-airflow-base .
      - run: ./tests/integration/docker/up.sh

  release:
    <<: *machine
    steps:
      - checkout
      - run: ./docker/login.sh
      - run: ./docker/build-and-push.sh $CIRCLE_TAG

workflows:
  marquez:
    jobs:
      - build-api
      - build-web
      - build-client-java
      - build-client-python
      - build-integration-spark
      - build-integration-airflow
      - test-integration-airflow:
          requires:
            - build-integration-airflow
      - release:
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+){2}(-rc\.[0-9]+)?$/
            branches:
              ignore: /.*/
