defaults: &defaults
  working_directory: ~/marquez
  docker:
    - image: circleci/openjdk:9-jdk

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: ./gradlew build

  test:
    <<: *defaults
    steps:
      - checkout
      - run: ./gradlew test
      - run: ./gradlew jacocoTestReport
      - run: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
