version: 2

defaults: &defaults
  docker:
    - image: circleci/openjdk:8-jdk
  working_directory: ~/marquez

cache: &cache
  keys:
    - v1-deps-{{ .Branch }}-{{ .Revision }}
    - v1-deps-

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache
      - run: ./gradlew --no-daemon --stacktrace build -x test
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-deps-{{ .Branch }}-{{ .Revision }}

  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache
      - run: ./gradlew --no-daemon --stacktrace test
      - run: ./gradlew --no-daemon jacocoTestReport
      - run: bash <(curl -s https://codecov.io/bash)

  release:
    docker:
      - image: docker:git
    working_directory: ~/marquez
    steps:
      - checkout
      - setup_remote_docker
      - run: apk add --update bash
      - run: ./docker/login.sh
      - run: ./docker/build-and-push.sh $CIRCLE_TAG

workflows:
  version: 2
  marquez:
    jobs:
      - build
      - test:
          requires:
            - build
      - release:
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+){2}$/
            branches:
              ignore: /.*/
