/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
    .flexContainer {
        flex-direction: column;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    width: 30%;
    margin-left: 15rem;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.imageContainer {
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 5rem;
}

.image {
    height: auto;
    width: 65%;
}

.logo {
    height: auto;
    width: 25rem;
}

.btn_logos {
    height: 1rem;
    margin-top: 0.15rem;
    margin-left: 0rem;
    position: absolute;
}