apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.names.fullname" . }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" (dict "value" .Values.commonLabels "context" $) | nindent 4 }}
    {{- end }}
    app.kubernetes.io/component: marquez
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" (dict "value" .Values.commonAnnotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}
      app.kubernetes.io/component: marquez
  replicas: {{ default 1 .Values.marquez.replicaCount }}
  template:
    metadata:
      labels: {{- include "common.labels.standard" . | nindent 8 }}
        app.kubernetes.io/component: marquez
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ include "marquez.image" . }}
          imagePullPolicy: {{ .Values.marquez.image.pullPolicy }}
          volumeMounts:
            - name: marquez-volume
              mountPath: /usr/src/app/config.yml
              subPath: config.yml
          ports:
            - name: http
              containerPort: {{ .Values.marquez.port }}
              protocol: TCP
            - name: http-admin
              containerPort: {{ .Values.marquez.adminPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http-admin
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http-admin
          env:
            - name: MARQUEZ_PORT
              value: {{ .Values.marquez.port | quote }}
            - name: MARQUEZ_ADMIN_PORT
              value: {{ .Values.marquez.adminPort | quote }}
            - name: MARQUEZ_CONFIG
              value: /usr/src/app/config.yml
            - name: POSTGRES_HOST
              value: {{ .Values.marquez.db.host | quote }}
            - name: POSTGRES_PORT
              value: {{ .Values.marquez.db.port | quote }}
            - name: POSTGRES_DB
              value: {{ .Values.marquez.db.name }}
            - name: POSTGRES_USER
              value: {{ .Values.marquez.db.user }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.marquez.db.password }}
            - name: MIGRATE_ON_STARTUP
              value: {{ .Values.marquez.migrateOnStartup | quote }}
          {{- if .Values.marquez.resources }}
          resources: {{- toYaml .Values.marquez.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: marquez-volume
          configMap:
            name: {{ include "marquez.fullname" . }}-config
      {{- if .Values.affinity }}
      affinity: {{- include "common.tplvalues.render" (dict "value" .Values.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" (dict "value" .Values.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{- include "common.tplvalues.render" (dict "value" .Values.tolerations "context" $) | nindent 8 }}
      {{- end }}
