@value deepRed, vibrantGreen from "../global_styles.css";

.container {
  position: fixed;
  bottom: 0;
  left: 30%;
  border-radius: 3px;
  color: white;
  padding: 1rem;
  max-width: 40%;
  min-width: 40%;
  text-align: center;
}

.container p {
  white-space: pre-wrap;
}

.error {
  background-color: deepRed;
}

.success {
  background-color: vibrantGreen;
}