---
---

@import "{{ site.theme }}";

html * {
  font-size: 16px;
}

.page-header {
  color: black;
  background-color: #efefefff;
  background-image: none;
}

.btn {
  color: black;
  border-color: black;
  border-width: 2px
}

.btn:hover {
  color: #71ddbfff;
  border-color: #71ddbfff;
}

.main-content h2 {
  font-size: 28px;
  color: black;
}

body {
  color: black;
  background-color: #f6f6f6;
}

a {
  color: #434343ff;
}

.site-footer {
  border-top: solid 1px #ccc;
}
